/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Aug-2016, 09:57:08
    Author     : Aswin
*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas#document:hover, #marker:hover {
    cursor: pointer;
}

canvas#document {
    z-index: 99999;
}

canvas.pull-left {
    float: left;
}

.absolute {
    position: absolute;
}
.unstyled {
    list-style: none;
}
.unstyled li {
    display: inline;
}

#menubar {
    z-index: 9999;
}

#page_body {
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
div.grid-div {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}
canvas.grid-canvas {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}
canvas.grid-canvas#canvas-grid-1_1 { /* UI */
    z-index: 999;
}
canvas.grid-canvas#canvas-grid-1_2 { /* document */
    z-index: 900;
}
canvas.grid-canvas#canvas-grid-1_3 { /* metadata */
    z-index: 800;
}
canvas.grid-canvas#canvas-grid-2_1 { /* export */
    z-index: 500;
}
canvas.grid-canvas#canvas-grid-2_2 { /* space */
    z-index: 700;
}
canvas.grid-canvas#canvas-grid-2_3 { /* temp */
    z-index: 400;
}
.icon-wall-sd {
    width: 38px;
    height: 24px;
    background-image: url(/images/sprites.png);
    background-position: 0px 291px;
}
.icon-wall-dd {
    width: 38px;
    height: 32px;
    background-image: url(/images/sprites.png);
    background-position: 0px 256px;
}
.icon-wall-de {
    width: 38px;
    height: 32px;
    background-image: url(/images/sprites.png);
    background-position: -1px 215px;
}
.icon-wall-te {
    width: 38px;
    height: 32px;
    background-image: url(/images/sprites.png);
    background-position: -1px 173px;
}
.icon-wall-closed {
    width: 38px;
    height: 36px;
    background-image: url(/images/sprites.png);
    background-position: -1px 134px;
}
.icon-door-ol {
    width: 45px;
    height: 40px;
    background-image: url(/images/sprites.png);
    background-position: -62px 283px;
}
.icon-door-or {
    width: 45px;
    height: 40px;
    background-image: url(/images/sprites.png);
    background-position: -62px 235px;
}
.icon-door-il {
    width: 45px;
    height: 40px;
    background-image: url(/images/sprites.png);
    background-position: -62px 185px;
}
.icon-door-ir {
    width: 45px;
    height: 40px;
    background-image: url(/images/sprites.png);
    background-position: -62px 137px;
}
.icon-dropdown {
    width: 50px;
}
.icon-dropdown li {
    padding: 5px 5px;
}